<!DOCTYPE html>
<html>
  <head>
    <title>
    OPM Analytics
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="">
<link rel="shortcut icon" href="/static/images/BilsAnalFavicon16.ico">

  </head>
  <body>

<div class="container-fluid">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <h3>OPM Analytics (Fedscope)</h3>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
  
</div>
</nav>
</div>

<div class="container">
        
</div>
    

<div class="container-fluid section-space">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
      <h3>Step 1</h3>
      
      <label for="inputCoyName class="col-md-4 col-md-offset-4 text-center section-space">Modify Standard Template to Provide Inputs</label>		
		</div>
	</div>
	
	
	<div class="row">
		<!-- <div class="col-md-3 col-md-offset-5 button-center"> -->
			
			<div class="col-md-4 col-md-offset-4 text-center">
			
    		<!--<input type=submit value=Download href="/dl" class = "col-md-4 col-md-offset-4 text-center section-space">-->
    		
		</div>
	</div>
	
</div>


 <h3 class="col-md-4 col-md-offset-4 text-center section-space">Step 2</h3>

<div class="container section-space">
 
  <form method=post enctype=multipart/form-data class="form-horizontal">
 
    <div class="form-group">
      <label for="AttachFile" class="col-md-offset-2 col-md-2 control-label text-left">Attach File</label>
      <div class="col-md-4 form-coy">
        <input type=file name=file accept="text/csv" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-4 form-coy">
       <h3 align ="center" >Step 3</h3>  
        <input type=submit value=Upload class = "col-md-4 col-md-offset-4 text-center section-space">
      </div>
    </div>
  </form>
</div>

<p align="center">  Source data and data dictionaries can be found at: <a href="https://www.fedscope.opm.gov/" target="_blank">OPM.GOV</a>   </p>
</div>

    
  </form>
</div>

  </body>
</html>